<!DOCTYPE html>
{% spaceless %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Atoz</title>

        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    </head>

    <body>
        {% include 'header.html.twig' %}

        <div class="container mt-sm-3">
            {% block content %}{% endblock %}
        </div>

        <script src="{{ asset('assets/js/app.js') }}"></script>
    </body>
</html>
{% endspaceless %}