<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand" >Jakmall Atoz</span>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app.order.index') }}">Home</a>
            </li>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app.order.prepaid_balance_get') }}">Prepaid Balance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app.order.product_commerce_get') }}">Buy Something</a>
                </li>
            {% endif %}
        </ul>

        <span class="navbar-text">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Hello, {{ app.user.username }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <span><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></span> |
                <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </span>
    </div>
</nav>