{% import 'macro/pagination.html.twig' as pagination %}

{% extends 'base.html.twig' %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Order No.</th>
            <th>Description</th>
            <th>Total</th>
            <th>Information</th>
        </tr>
        </thead>

        <tbody>
        {% for order in resources %}
            {% if order.type == 'product' %}
                {% set description = order.meta.product ~ ' that cost ' ~ order.meta.price %}
            {% elseif order.type == 'prepaid-balance' %}
                {% set description = order.meta.value ~ ' For ' ~ order.meta.mobilePhone %}
            {% endif %}

            <tr>
                <td>{{ order.number }}</td>
                <td>{{ description }}</td>
                <td>{{ order.total }}</td>
                <td>{% include 'order/information.html.twig' %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ pagination.simple(resources) }}
{% endblock %}