{% if order.state == 'new' %}
    <a class="btn btn-info" href="{{ path('app.order.payment_get', {'id': order.id}) }}">Pay</a>
{% elseif order.state == 'success' and order.type == 'product' %}
    <span>Shipping Code: {{ order.meta.shippingCode }}</span>
{% else %}
    <span class="{{ order.state == 'cancel' ? 'text-danger' : '' }}">{{ order.state }}</span>
{% endif %}