{% extends 'base.html.twig' %}

{% block content %}
    <form method="post">
        <div class="form-group row">
            <label for="order-number" class="col-4 col-form-label">Order Numberr</label>
            <div class="col-8">
                <input class="form-control" type="text" id="order-number" name="orderNumber" value="{{ orderNumber }}">
                {% set error = app.flashes('error') %}
                {% if error is not empty %}
                    <div class="has-danger">
                        <small class="form-control-feedback form-text">
                            {{ error|first }}
                        </small>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary float-sm-right">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}