{% extends 'base.html.twig' %}

{% block content %}
    <form method="post">
        <div class="form-group row">
            <label for="mobile-phone" class="col-4 col-form-label">Mobile Phone Number</label>
            <div class="col-8">
                <input class="form-control" type="text" id="mobile-phone" name="mobilePhone">
                {% set errorMobilePhone = app.flashes('error.mobilePhone') %}
                {% if errorMobilePhone is not empty %}
                    <div class="has-danger">
                        <small class="form-control-feedback form-text">
                            {{ errorMobilePhone|first }}
                        </small>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <label for="balance-value" class="col-4 col-form-label">Value</label>
            <div class="col-8">
                <select class="form-control" id="balance-value" name="value">
                    <option>10000</option>
                    <option>50000</option>
                    <option>100000</option>
                </select>
                {% set errorValue = app.flashes('error.mobilePhone') %}
                {% if errorValue is not empty %}
                    <div class="has-danger">
                        <small class="form-control-feedback form-text">
                            {{ errorValue|first }}
                        </small>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary float-sm-right">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}