{% extends 'base.html.twig' %}

{% block content %}
    <form method="post">
        <div class="form-group row">
            <label for="product" class="col-4 col-form-label">Product</label>
            <div class="col-8">
                <textarea class="form-control" type="text" id="product" name="product"></textarea>
                {% set errorProduct = app.flashes('error.product') %}
                {% if errorProduct is not empty %}
                    <div class="has-danger">
                        <small class="form-control-feedback form-text">
                            {{ errorProduct|first }}
                        </small>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <label for="shipping-address" class="col-4 col-form-label">Shipping Address</label>
            <div class="col-8">
                <textarea class="form-control" type="text" id="shipping-address" name="shippingAddress"></textarea>
                {% set errorShippingAddress = app.flashes('error.shippingAddress') %}
                {% if errorShippingAddress is not empty %}
                    <div class="has-danger">
                        <small class="form-control-feedback form-text">
                            {{ errorShippingAddress|first }}
                        </small>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <label for="price" class="col-4 col-form-label">Price</label>
            <div class="col-8">
                <input class="form-control" type="text" id="mobile-phone" name="price">
                {% set errorPrice = app.flashes('error.price') %}
                {% if errorPrice is not empty %}
                    <div class="has-danger">
                        <small class="form-control-feedback form-text">
                            {{ errorPrice|first }}
                        </small>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary float-sm-right">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}