<div class="row">
    <div class="col-12 text-center">
        <h3>Your Order Number</h3>
        <p>{{ order.number }}</p>

        <p class="mt-5">Total</p>
        <p>{{ order.total }}</p>

        <p class="mt-5">
            Your Mobile Phone Number <b>{{ order.meta.mobilePhone }}</b><br>
            will be topped up for <b>{{ order.meta.value }}</b> after you pay
        </p>

        <a class="btn btn-info" href="{{ path('app.order.payment_get', {'id': order.id}) }}">
            Pay Here
        </a>
    </div>
</div>