{% extends 'base.html.twig' %}

{% block content %}
    {% if order.state == 'fail' %}
        <h3>Your Payment Failed!</h3>
    {% else %}
        <h3>Your Payment Success!</h3>
    {% endif %}
{% endblock %}