<div class="row">
    <div class="col-12 text-center">
        <h3>Your Order Number</h3>
        <p>{{ order.number }}</p>

        <p class="mt-5">Total</p>
        <p>{{ order.total }}</p>

        <p class="mt-5">
            <b>{{ order.meta.product }}</b> that cost <b>{{ order.meta.price }}</b> <br>
            will be shipped to {{ order.meta.shippingAddress }} after you pay
        </p>

        <a class="btn btn-info" href="{{ path('app.order.payment_get', {'id': order.id}) }}">
            Pay Here
        </a>
    </div>
</div>