{% extends 'base.html.twig' %}

{% block content %}
    {% if order.type == 'prepaid-balance' %}
        {% include 'order/success-prepaid-balance.html.twig' with {'order': order} %}
    {% elseif order.type == 'product' %}
        {% include 'order/success-product-commerce.html.twig' with {'order': order} %}
    {% endif %}
{% endblock %}